*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(228, 234, 239);
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: #ffffff;
    width: 400px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 25px rgb(red, green, blue);
}
img{
    border-radius: 75%;
    object-fit: cover;
    margin-bottom: 15px;
}
h2{
    font-size: 30px;
    margin-bottom: 10px;
}
p{
    color: rgb(223, 24, 54);
    margin-bottom: 5px;
    font-size: 20px;
}
details p a{
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 5px;
}
.button a{
    text-decoration: none;
    background-color: rgb(35, 96, 218);
    color: aliceblue;
    padding: 9px;
    border-radius: 10px;
    margin: 15px;
}
.button {
    margin-top: 40px;
}